@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#attrs-menu {
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: #131217;
}

#attrs-menu label {
    font-size: 1rem;
    text-transform: none;
}

#attrs-menu .form-outline {
    width: 80px;
}

.text-bubble {
    position: absolute;
    left: 50px;
    top: 50%;
    z-index: 15;
}

.switch-group .btn {
    padding: 8px 12px;
    background: transparent;
}

.switch-group .btn:focus,
.switch-group .btn:active,
.switch-group .btn:hover,
.switch-group .btn.active {
    background: #272533;
    color: white;
}

.color-picker-wrapper {
    position: absolute;
    top: 110%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.btn label {
    cursor: pointer;
}
/* Arial Black */
@font-face {
    font-family: 'Arial Black';
    src: local('Arial Black'), url('https://fonts.gstatic.com/s/arialblack/v15/HCiO7OvG8JzRjBs63NO6JfesZW2xOQ-xsNqO47m55DA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Courier New */
@font-face {
    font-family: 'Courier New';
    src: local('Courier New'), url('https://fonts.gstatic.com/s/couriernew/v15/SLXGc1na-mM4xIM2LWIir3IhFcK4PA.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: local('Courier New'), url('https://fonts.gstatic.com/s/couriernew/v15/SLXHc1na-mM4xIMugA9PduI9HA.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Georgia */
@font-face {
    font-family: 'Georgia';
    src: local('Georgia'), url('https://fonts.gstatic.com/s/georgia/v15/SLXGc1na-mM4xIM2LWIERVIhFcK4PA.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia'), url('https://fonts.gstatic.com/s/georgia/v15/SLXHc1na-mM4xIMugA9P2uI9HA.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Impact */
@font-face {
    font-family: 'Impact';
    src: local('Impact'), url('https://fonts.gstatic.com/s/impact/v12/1cX3aULHBpDMsHYWzpF7-M-hFSnmt1Ljiw.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Lucida Console */
@font-face {
    font-family: 'Lucida Console';
    src: local('Lucida Console'), url('https://fonts.gstatic.com/s/lucon/v17/9k-RPmcnxYEPm8CNFsH2gg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Lucida Sans Unicode */
@font-face {
    font-family: 'Lucida Sans Unicode';
    src: local('Lucida Sans Unicode'), url('https://fonts.gstatic.com/s/lucidasansunicode/v13/6ae84K--SKgCzbM2Gr6aTA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Palatino Linotype */
@font-face {
    font-family: 'Palatino Linotype';
    src: local('Palatino Linotype'), url('https://fonts.gstatic.com/s/palatinolinotype/v12/xn7iYHOfN8Gk32kG9NXz3veS0gnO.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino Linotype';
    src: local('Palatino Linotype'), url('https://fonts.gstatic.com/s/palatinolinotype/v12/xn7iYHOfN8Gk32kG9NXz3veS0gnK.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Tahoma */
@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma'), url('https://fonts.gstatic.com/s/tahoma/v12/Iurg6Y5j_oScZZow4VOBDpxNhLBG4RNYFQ.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma'), url('https://fonts.gstatic.com/s/tahoma/v12/Iurg6Y5j_oScZZow4VO3DpN2QPB7WrpoDqw.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: local('Times New Roman'), url('https://fonts.gstatic.com/s/timesnewroman/v15/6xK3dSBYKcSV-LCoe9_w0ABZ5F_u.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Trebuchet MS */
@font-face {
    font-family: 'Trebuchet MS';
    src: local('Trebuchet MS'), url('https://fonts.gstatic.com/s/trebuchetms/v15/0ybhB6n--6BxUfC1UcVViAM2K8xWCQ.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: local('Trebuchet MS'), url('https://fonts.gstatic.com/s/trebuchetms/v15/0ybhB6n--6BxUfC1UcVViE8eq5e5.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Verdana */
@font-face {
    font-family: 'Verdana';
    src: local('Verdana'), url('https://fonts.gstatic.com/s/verdana/v15/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: local('Verdana'), url('https://fonts.gstatic.com/s/verdana/v15/1Ptug8zYS_SKggPNyC0IT4ttDfCmxA.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url('https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url('https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bolota';
    src: local('Bolota'), url('/public/assets/fonts/Bolota.ttf') format('truetype');
}

@font-face {
    font-family: 'Renovate';
    src: local('Renovate'), url('/public/assets/fonts/LTRenovate.otf') format('opentype');
}

@font-face {
    font-family: 'MadimiOne';
    src: local('MadimiOne'), url('/public/assets/fonts/MadimiOne.otf') format('opentype');
}

@font-face {
    font-family: 'Quadriana';
    src: local('Quadriana'), url('/public/assets/fonts/quadriana.otf') format('opentype');
}

@font-face {
    font-family: 'Voye';
    src: local('Voye'), url('/public/assets/fonts/Voye.otf') format('opentype');
}

@font-face {
    font-family: 'Beverage';
    src: local('Beverage'), url('/public/assets/fonts/Beverage.otf') format('opentype');
}

@font-face {
    font-family: 'Wave';
    src: local('Wave'), url('/public/assets/fonts/Wave.otf') format('opentype');
}

@font-face {
    font-family: 'OakSans';
    src: local('OakSans'), url('/public/assets/fonts/OakSans.woff2') format('woff2');
}

@font-face {
    font-family: 'TokyoZoo';
    src: local('TokyoZoo'), url('/public/assets/fonts/TokyoZoo.otf') format('opentype');
}

@font-face {
    font-family: 'RampartOne';
    src: local('RampartOne'), url('/public/assets/fonts/RampartOne.ttf') format('truetype');
}
