#options-drawer {
  z-index: 10;
  background: #1c1b26;
}

.layer-cell {
  display: flex;
  align-items: center;
}

.layer-cell span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.layer-row {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #ccc;
}

.layer-row.selected {
  background: #261944;
}

.layer-row .btn {
  color: #aaa;
  border-radius: 3px;
}

.layer-row .btn:hover {
  color: #fff;
  background: #666;
}

.depth-setters {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid #ccc;
}

.depth-setters .btn:first-child {
  border-bottom: 1px solid #ccc;
  border-radius: 0 3px 0 0;
}

.depth-setters .btn:last-child {
  border-radius: 0 0 3px 0;
}
