.btn {
  border-radius: 0;
}

#drawer {
  background: #171717;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
}

#options-drawer {
  width: 350px;
  box-shadow: 0 0 8px -4px #171717;
  position: relative;
  z-index: 5;
  padding: 16px 8px;
}

#options-drawer .col {
  padding: 0 8px;
}

#options-selector {
  position: relative;
  z-index: 15;
  background: #131217;
}

#options-selector .btn {
  background: none;
  box-shadow: none;
  color: #AAA;
}

#options-selector .btn-active,
#options-selector .btn:hover {
  background: #1c1b26;
  color: white;
}

.element-selector {
  transition: all 250ms ease;
}

.element-selector:hover {
  color: white;
}