.btn {
  border-radius: 0;
}

#drawer {
  background: #332d2d;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
}

#options-drawer {
  width: 300px;
  box-shadow: 0 0 8px 0 #999;
  position: relative;
  z-index: 5;
}

#options-selector {
  position: relative;
  z-index: 15;
  background: var(--mdb-dark);
}

#options-selector .btn {
  background: none;
  box-shadow: none;
}

#options-selector .btn-active,
#options-selector .btn:hover {
  background: var(--mdb-primary);
  color: white;
}

.element-selector {
  transition: all 250ms ease;
}

.element-selector:hover {
  color: white;
  background: var(--mdb-primary);
}