:root {
  --mdb-primary: #6a26ff; /* Your desired primary color */
  --mdb-primary-rgb: 106, 38, 255;
  --mdb-danger: #f41f42;
  --mdb-danger-rgb: 244, 31, 66;
  --mdb-secondary: #6aff00;
  --mdb-secondary-rgb: 106, 255, 0;
  --dark-purple: #190B37;
  --purple: #3800A6;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
